

/* Light mode */
.pokemon-card.light {
  --card-bg: #ffffff;
  --card-text: #000000;
}

/* Dark mode */
.pokemon-card.dark {
  --card-bg: #1e1e1e;
  --card-text: #f0f0f0;
}



.pokemon-card {
  width: 200px;
  height: 280px;
  background-color: var(--card-bg);
  color: var(--card-text);
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  transition: transform 0.2s ease;
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.pokemon-card:hover {
  transform: scale(1.05);
}



.pokemon-card-top {
  flex: 2;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  overflow: hidden;
} 

.pokemon-image {
  width: 100px;
  height: 100px;
  object-fit: contain;
  z-index: 1;
  position: relative;
}

.pokemon-card-bottom {
  flex: 1;
  background-color: var(--card-bg);
  color: var(--card-text);
  text-align: center;
  padding: 0.75rem;
  position: relative;
  border-top-left-radius: 80% 60px;
  border-top-right-radius: 80% 60px;
  margin-top: -24px;
  z-index: 2;
}

/* Text styling */
.pokemon-id {
  font-weight: bold;
  color: var(--card-text);
  font-size: 0.85rem;
  margin-bottom: 4px;
}

.pokemon-name {
  font-size: 1rem;
  margin: 4px 0;
  color: var(--card-text);
  text-transform: capitalize;
}

/* Type badges */
.pokemon-types {
  display: flex;
  justify-content: center;
  gap: 6px;
  flex-wrap: wrap;
  margin-top: 6px;
}

.type-badge {
  padding: 4px 8px;
  border-radius: 999px;
  font-size: 0.7rem;
  font-weight: 600;
  color: white;
  text-transform: capitalize;
  background-color: #e0e0e0;
}






